<ul id="outerScore" class="breadcrumbs">
    <li>Your stats</li>
    <li id="win">Won: <%= current_player.Wins %></li>
    <li id="lost">Lost: <%= current_player.Losses %></li>
</ul>
<div id="mainGame">
  <!-- Image found here: http://top.trnd.com/category/computerinternet/page/40/ -->
  <div id="outerHangmanImage">
    <img id="hangmanImage" class="thinBorder" src="assets/10.png" >
  </div>

  <ul id="movesLeft" class="breadcrumbs">
    <li>Moves Left</li>
    <li><span id="movesleft"><%= @hangman.movesLeft %></span></li>
  </ul>
  <div id="maskedWord"><%= @hangman.maskedWord %></div>
  <div id="alphabet">
    <table>
      <tr>
        <td>
          <div id='a' class="letter">A</div>
          <div id='b' class="letter">B</div>
          <div id='c' class="letter">C</div>
          <div id='d' class="letter">D</div>
          <div id='e' class="letter">E</div>
          <div id='f' class="letter">F</div>
          <div id='g' class="letter">G</div>
          <div id='h' class="letter">H</div>
          <div id='i' class="letter">I</div>
          <div id='j' class="letter">J</div>
          <div id='k' class="letter">K</div>
          <div id='l' class="letter">L</div>
          <div id='m' class="letter">M</div>
        </td>
      </tr>
      <tr>
        <td>
          <div id='n' class="letter">N</div>
          <div id='o' class="letter">O</div>
          <div id='p' class="letter">P</div>
          <div id='q' class="letter">Q</div>
          <div id='r' class="letter">R</div>
          <div id='s' class="letter">S</div>
          <div id='t' class="letter">T</div>
          <div id='u' class="letter">U</div>
          <div id='v' class="letter">V</div>
          <div id='w' class="letter">W</div>
          <div id='x' class="letter">X</div>
          <div id='y' class="letter">Y</div>
          <div id='z'class="letter">Z</div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="winnerDisplay" class="reveal-modal" data-reveal>
  <h2>Winner</h2>
  <p class="lead">You are a winner!</p>
  <p>Congrats, you figured it out! Play again to improve your score.</p>
  <%= link_to('Start a New Game',hangman_newgame_path) %>
</div>

<div id="lostDisplay" class="reveal-modal" data-reveal>
  <h2>Bummer.</h2>
  <p class="lead">You lost!</p>
  <p>Try Again!</p>
  <%= link_to('Start a New Game',hangman_newgame_path) %>
  <a class="close-reveal-modal">&#215;</a>
</div>

