<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Hangman Game</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <% if player_signed_in? %>
      <h3 id="gameTitle">The Hangman Game</h3>
      <div class="outerMenu center">
          <ul class="breadcrumbs menu">
            <li><%= link_to("New Game",hangman_newgame_path) %></li>
            <li><%= link_to("Top Score",hangman_topscore_path) %></li>
            <li><%= current_player.email %> (<%= link_to('Logout', destroy_player_session_path) %>)</li>
          </ul>
      </div>
  <%end%>

    <%= yield %>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
  <% end %>
    <script>
      (function (){
          window.zenBuilder = {};
      })();
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>